00_input/mgal_genome/*
01_raw_reads/*
02_trimmed_reads/*
03*mapped_reads*/*
04*mapping_counts*/*
05_DE_timeseries/*
cluster_script/*
Log.out
slurm*
*temp*
*tmp*
04_PCA_readcounts/*
05_masigpro_analysis/*
vasa_piwi_nanos_diamond.tsv
.Rhistory
vasa_piwi_nanos_spPHI_diamond.tsv
06_figures_for_ms/*
06_vasa_ML/*
07_figures_for_ms/*
slurm*
07_HCR_probes/*
08_figures_for_ms/*
download_reads.sh
.snakemake/
